<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect Art</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>

<body>


    <div class="jumbotron jumbotron-fluid m-5">
        <div class="container">
            <h1>Welcome to Connect Art</h1>
            <h4>Here You can create a link for a Room. Share the generated URL with your friends and collab. Enjoy!!
            </h4>
        </div>
    </div>
    <div class="container">

        <div class="row m-5">
            <div class="col"></div>
            <div class="col">
                <button id='reqRoom' type="button" class="btn btn-primary btn-lg"> Request Room</button>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="row m-5">
            <h4 class="col-2 ">Room URL : </h4>
            <h5><a id="roomURL" class="col" target="_blank"></a></h5>

        </div>


    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $('#reqRoom').click(function () {
            console.log('You Clicked');

            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(JSON.parse(this.responseText));
                    let url = JSON.parse(this.responseText).roomURL;

                    /*let ele = document.createElement('a');
                    ele.setAttribute('href', url);
                    ele.innerHTML = url;

                    .appendChild(ele);*/
                    let ele = document.getElementById('roomURL');
                    ele.setAttribute('href', url);
                    ele.innerHTML = url;
                }
            };

            xhttp.open("POST", "/put_data", true);
            xhttp.send();
        });



    </script>
</body>

</html>